body {
    padding:0;
    margin: 0;
    background-color: #000;
    background: #000 url(dark-metal-texture.jpg) no-repeat center center fixed;
    font-family: tahoma;
    color: #CCC;
}

.nhlogo {
    background: url(nhlogo.png) no-repeat center center fixed;
    width: 960px;
    height: 200px;
}

.watermark {
    color:#888;
    font-family: sans-serif;
    font-style: italic;
}



#quote {
    display: block; /* this and width auto make the width fit the size of the text */
    width: auto;
    
    margin-top:-40px;

}
#quote:before {
    font-size: 3em;
    color: #ccc;
    content: open-quote;
    vertical-align: -0.25em;
    padding-right: 10px;
    color:#888;
}
#quote:after {
    font-size: 3em;
    color: #ccc;
    content: close-quote;
    vertical-align: -0.25em;
    color:#888;
}


.copy {
    color:#FFF;
    bottom: 10px;
    position: fixed;
    font-size: 16px;
}
.copy a:link {color:#99F;}
.copy a:visited {color:#99F;}

.right {
    right: 6px;
}

.left {
    left: 6px;
}
